body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

/*
  Section styles
 */
.card {
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

/*battle area styles*/
.card--battleArea{
  display: none;
  padding: -1.5%;
  padding-top: -2%;
  padding-bottom: 47%;
  margin: -2%;
  background-image: url('http://i39.servimg.com/u/f39/17/72/50/13/the_ce10.jpg');
  background-size: cover;
  height: 100vh;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.down{
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bolder;
  text-align: center;
  padding-top: 2%;
}

.player1_name{
  font-family: 'Cinzel Decorative', cursive;
  margin-bottom: 2%;
  font-weight: 50%;
  text-align: center;
}

.player1{
  text-align: center;
  margin-left: 4%;
  display: inline-block;
  border: 7px groove green;
  height: 400px;
  width: 30%;
}

.battle_status_div{
  text-align: center;
  text-align: center;
  display: inline-block;
  border: 7px groove green;
  width: 30%;
  height: 450px;
}

.battle_status_head{
  font-family: 'Cinzel Decorative', cursive;
  margin-bottom: 2%;
}

.player2_name{
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 50%;
  margin-bottom: 2%;
  text-align: center;
}

.player2{
  text-align: center;
  width: 30%;
  display: inline-block;
  height: 400px;
  border: 7px groove green;
}

.attack{
  border-radius: 20px;
  margin-top: 3%;
  margin-left: 40%;

.attackButton{
  display: block;
  margin: 0 auto;
}

.attackMsg {
  text-align: center;
}

.winnerArea{
  height: 400px;
  width: 50%;
  z-index: 3;
  position: relative;
  top: -400px;
}

.winnerArea{
  border: 10px solid black;
}
